{% extends "base.html" %}
{% load static %}

{% block body-content %}


<div style="min-height: 100%; min-height: 100vh; display: flex; align-items: center;">
    <div class="container">
        <h1 class="title">Just a Typical URL Shortener</h1>
        <form id="shortenForm">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Type here your URL"
                       name="original_url" id="originalURL" pattern="http(s)*://.*" >
                <button type="submit" id="submitBtn" class="btn btn-dark">Short URL</button>
            </div>
        </form>
        <div class="text-center" id="loadSpin" style="display: none;">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div class="text-center" id="containerResult" style="display: none;">
            <a href="#" id="resultShorten" class="btn btn-lg btn-info" target="_blank">
                Go to your shorten
            </a>
            <button class="btn btn-lg btn-secondary" id="copyBtn" onclick="copyLink()">Copy</button>
        </div>
    </div>
</div>

{% endblock %}

{% block import-script %}
<script src="{% static 'index.js' %}"></script>
{% endblock %}
